* {
    font-family: cursive;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.testimonial-container {
    width: 500px;
    height: 150px;
    background-color: slateblue;
    color: white;
    position: relative;
    padding: 70px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    margin: 10px;
    min-width: 450px;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -60px;
    transform: translateX(-50%);
}

#username {
    font-size: 13px;
    font-weight: 100;
}